<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beco.cordova.examplethree" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kitchen</name>
    <description>
        A sample Apache Cordova application that uses the Beco Cordova API.
    </description>
    <author email="chrisd@beco.io" href="http://beco.io">
        Beco, Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="BackupWebStorage" value="local" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="beco-cordova-plugin" spec="git+https://github.com/becoinc/beco_cordova_sdk.git#master" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
